.row{
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}
.into-img{
    text-align:center;
}
.col-sm-6 img{
    width:190px;
    height:200px;
}
.col-sm-6 h1{
    font-size:16px;
    color:grey;
    padding:5px;
    margin-top:20px;
}
#intro-wlcm{
    font-size:12px;
}
#name_tag_bold{
    color:#19566b;
    font-size:30px;
}
.intro-p{
    font-size:15px;
    color:black;
    padding:0px;
    margin-left:30px;
}
#into-first-line{
    font-size:14px;
}
.intro-more{
    margin-left:30px;
}
.explore-img{
    text-align:center;
}
.explore{
    text-align:center;
    color:black;
    margin-top:10px;
    font-weight:700;
}
#explore_bold{
    font-size:25px;
    color:#19566b;
    text-align:center;
}
.explore-p{
    font-size:15px;
    color:grey;
    text-align:center;
    margin-left:10px;
    margin-right:10px;
}
.explore-img img{
    width:120px;
    height:120px;
    margin-top:20px;
}
.btn{
    font-size:13px;
    font-weight:700;
    padding:5px;
}
.explore-img img:hover{
    border:8px solid white;
    border-radius:5px;
}
.explore-p:hover{
    color:black;
}
.intro-more a{
    font-size:12px;
    color:grey;
}
.box:hover {
    box-shadow:2px 2px 10px 1px rgba(0,0,0,0.1);
}
.ai-intro{
    font-size:18px;
    color:rgb(14, 49, 100);
    margin-top:15px;
    margin-left:15px;
    padding:7px;
    font-weight:600;
}
@media screen and (max-width:700px){
    .box {
        box-shadow:2px 2px 10px 1px rgba(0,0,0,0.1);
    }
}